<div class="contain d-flex justify-content-center" style="width: 100%; background-color: whitesmoke;">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
             <h4>Contact Form</h4>
  <div class="contactForm d-flex flex-column m-auto " style="width: 100%;">

    <div class="form-group" >
    <input type = "text" placeholder = "Your full name" formControlName="fullName" [ngClass]="{'is-invalid': contactForm.get('fullName').touched && contactForm.get('fullName').invalid}"  >
     <div class="invalid-feedback">
      <div>Full Name is required</div>
     </div>
    <br/>
   </div>

   <div class="form-group" >
  <input type = "email" name = "email" placeholder = "Your email" formControlName="email"  [ngClass]="{'is-invalid': contactForm.get('email').touched && contactForm.get('email').invalid}" >
  <br/>
  <div class="invalid-feedback">
    <div>email is required</div>
   </div>
   </div>


 <div class="form-group" >
  <textarea name = "message" placeholder = "Your message" formControlName="message"  [ngClass]="{'is-invalid': contactForm.get('message').touched && contactForm.get('message').invalid}"></textarea>
  <br/>
  <div class="invalid-feedback">
    <div>message is required</div>
   </div>
</div>
</div>
<p class="address" style="font-size:large" >Address</p>
  <div formGroupName="address">
    <div class="d-flex flex-column  justify-content-center" style="width: 70%;">
    <label class="m-2">

    <input type="text" placeholder = "Street"  formControlName="street" >
    </label>

    <label class="m-2">

    <input type="text" placeholder="City" formControlName="city" >
    </label>

    <label class="m-2">

    <input type="text" placeholder="State" formControlName="state" >
    </label>

    <label class="m-2"  >

    <input type="text" placeholder="Zip" formControlName="zip" >
    </label>
  </div>
  <div  class="ml-4">
    <input  type = "submit" value = "Send">
   </div>
  </div>

</form>

</div>
<p>
  Form Status: {{ contactForm.value | json }}
</p>
